In [1]:
import pandas as pd
import pandera as pa

In [4]:
valores_ausentes=['***','NULL','890274583','87','82439','6372222']
df=pd.read_csv("ocorrencia_2010_2020.csv",sep=',',parse_dates=['ocorrencia_dia'],na_values=valores_ausentes)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,03/01/2010,12:00:00,0,NaN,NaN
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,0,NaN,NaN
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,0,NaN,NaN
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,04/01/2010,17:30:00,0,NaN,NaN
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,0,NaN,NaN

In [3]:
schema=pa.DataFrameSchema(
    columns={
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_cidade":pa.Column(pa.String),
#"ocorrencia_uf":pa.Column(pa.String,pa.Check.str_length(2,2)),
        "ocorrencia_uf":pa.Column(pa.String),
        "ocorrencia_aerodromo":pa.Column(pa.String),
#"ocorrencia_dia":pa.Column(pa.DateTime), era pra ser isso né, mas tive problemas com date
        "ocorrencia_dia":pa.Column(pa.String),
        "ocorrencia_hora":pa.Column(pa.String, nullable=True),
        "total_recomendacoes":pa.Column(pa.String, nullable=True)      
#"total_recomendacoes":pa.Column(pa.String, required=False) pode ser que um dado específico não tenha esta coluna, aqui ele dispensa ela
        
    }
)

In [5]:
df.loc[:,'ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
5747    SP
5748    TO
5749    RJ
5750    MS
5751    37
Name: ocorrencia_uf, Length: 5752, dtype: object

In [9]:
#ocorrências com mais de 10 recomendações
#filtro=df.total_recomendacoes>10
#df.loc[filtro]

In [10]:
#nde ocorrencias ciade comecem com letra c
filtro=df.ocorrencia_cidade.str[0]=='C'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Unnamed: 9,Unnamed: 10
6,40215,40215,INCIDENTE,COARI,AM,SBUY,07/01/2010,18:40:00,0,NaN,NaN
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,****,09/01/2010,12:30:00,3,NaN,NaN
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,10/01/2010,23:15:00,2,NaN,NaN
15,39315,39315,ACIDENTE,CANUTAMA,AM,****,15/01/2010,21:22:00,0,NaN,NaN
20,40310,40310,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,18/01/2010,19:32:00,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5661,79649,79649,INCIDENTE,CAMPINAS,SP,SBKP,04/11/2020,22:39:00,0,NaN,NaN
5663,79652,79652,INCIDENTE,CONFINS,MG,SBCF,06/11/2020,14:20:00,0,NaN,NaN
5680,79683,79683,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,16/11/2020,22:00:00,0,NaN,NaN
5696,79692,79692,ACIDENTE,CATANDUVA,SP,SDCD,28/11/2020,12:50:00,0,NaN,NaN
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,0,NaN,NaN